.contenedor {
  overflow: hidden;
}

.card-carousel {
  --card-height: 18em;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 18em;
  transition: filter .3s ease;
}

@media screen and (max-width: 640px) {
  .card-carousel {
    margin-left: calc((100vw - var(--carousel-min-width)) / 2)
  }
}

.card-carousel.smooth-return {
  transition: all .2s ease;
}

.card-carousel .logocard {
  position: absolute;
  transition: inherit;
  flex-direction: column;
}